* {
    padding: 0;
    margin: 0;
}



/**** HEADER ****/
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #ffffff;
    width: 100vw;
    height: 80px;
    z-index: 100;
    color: black;
    top: 0;
    border-bottom: 6px solid #af464b;
}

header img {
    position: fixed;
    width: 120px;
    height: 60px;
    margin-left: 4%;
    top: 10px;
}

/** NAV **/
.hidden {
    transform: translateX(-100%);
}

#menuknap {
    cursor: pointer;
    font-size: 2rem;
    position: fixed;
    right: 30px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    line-height: 1;
    top: 2%;
}

#menu {
    padding: 0;
    list-style-type: none;
    transition: all .3s;
    position: absolute;
    right: 0;
    margin: 0;
    background-color: white;
}

header li {
    width: 100vw;
    height: 15vw;
    background-color: #ffffff;
    text-align: right;
    margin: 0;
    padding-right: 0;
    padding-top: 2%;
    padding-bottom: 5%;
}

header li a {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    font-family: 'EB Garamond', serif;
    background-color: #ffffff;
    padding-right: 10%;

}

header li a:hover {
    color: #af464b;
}

.selected {
    color: #af464b;
}

/**INDEX SPLASH**/

#splash {
    width: 100vw;
    height: 1320px;

    background-image: url(img/Artboard%20%E2%80%93%201.jpg);
    background-size: cover;
    margin-top: 5%;

}

#splash img {
    width: 100vw;
    ;
}

img {
    width: 100%;
    height: 100%;
}

/**WEB**/

#web {
    background-color: #EFC376;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

.projects img {
    width: 55%;
    border: 5px solid black;
}

#web .projects {
    display: flex;
    width: 95vw;
    height: 190vw;
    justify-content: center;
    align-items: center;
    background-image: url(img/edi12.jpg);
    background-size: cover;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5%;

}

.projekt1,
.projekt2 {
    flex-basis: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;


}

.projekt2 {
    padding-bottom: 5%;
}

.title {
    margin-top: 40%;
    width: 50%;
    padding-top: 10%
}

.title2 {
    width: 50%;
    margin-top: 20%;
}

#web .skills {
    display: flex;
    width: 95vw;
    height: 80vw;
    justify-content: center;
    align-items: center;
    background-image: url(img/turkeylurkey%20375.JPG);
    background-size: cover;
    flex-basis: 750px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.list1 {
    background-color: antiquewhite;
    width: 80vw;
    height: 100vw;
    opacity: 0.8;
    font-family: 'EB Garamond', serif;
    font-size: 1.3rem;
    text-align: center;
    line-height: 2.4;
    padding-bottom: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 10%;

}

.list1 li {
    list-style: none;
}

.links {
    background-color: antiquewhite;
    width: 75vw;
    height: 65vw;
    opacity: 0.8;
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.4;
    padding-top: 7%;
    margin-top: 15%;
    padding-bottom: 5%;
    margin-bottom: 15%;
    border-radius: 50vw;

}

.links a {
    color: black;
    text-decoration: none;
}

/**ANIMATION***/


#animation {
    background-color: #EF9A76;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


#animation .projects {
    display: flex;
    width: 90vw;
    height: 200vw;
    justify-content: center;
    align-items: center;
    background-image: url(img/p7.jpg);
    background-size: cover;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5%;
}

.projekt1,
.projekt2 {
    flex-basis: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;



}

.projekt2 {
    padding-bottom: 5%;
}

.title {
    margin-top: 20%;
}

.title2 {
    width: 50%;
    margin-top: 10%;
}

#animation .skills {
    display: flex;
    width: 90vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(img/spain%20n%20maroc%20589.JPG);
    background-size: cover;
    flex-basis: 750px;
    margin-top: 5%;
    margin-bottom: 5%;
}

/**CONTENT**/

#content {
    background-color: #9DB5D4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

#content .projects {
    display: flex;
    width: 90vw;
    height: 200vw;
    justify-content: center;
    align-items: center;
    background-image: url(img/niceespanastuff%20036.JPG);
    background-size: cover;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5%;
}

#content .skills {
    display: flex;
    width: 90vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(img/woohoo%20070.JPG);
    background-size: cover;
    flex-basis: 750px;
    margin-top: 5%;
    margin-bottom: 5%;
}

/**UX**/

#ux {

    background-color: #c8abd3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

#ux .projects {
    display: flex;
    width: 90vw;
    height: 200vw;
    justify-content: center;
    align-items: center;
    background-image: url(img/ux.jpg);
    background-size: cover;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5%;
}

#ux .skills {
    display: flex;
    width: 90vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(img/phot2.png);
    background-size: cover;
    flex-basis: 750px;
    margin-top: 5%;
    margin-bottom: 5%;
}

/**CV**/

#cv {
    padding-top: 30%;
    font-family: 'EB Garamond', serif;
    background-color: #88AD8D;
    padding-bottom: 10%;
    width: 100vw;
}

.who {
    text-align: center;
    color: #af464b;
    font-size: 2rem;
}

.et {
    width: 65vw;
    height: 150vw;
    margin: 7%;
    padding: 10%;
    background-color: #BCC8BB;
    align-items: center;
    margin-top: 10%;
    border-radius: 5vw;
    margin-bottom: 15%;

}

.et img {
    width: 59vw;
    border-radius: 30vw;

}

.pic {
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
}

.des {
    padding-bottom: 15%;
}


.first {
    width: 70vw;
    background-color: #BCC8BB;
    margin: 2%;
    padding: 5%;
    border-radius: 5vw;
    margin-left: 10%;
    line-height: 1.5;
    margin-bottom: 15%;
}

.edu {
    width: 70vw;
    background-color: #BCC8BB;
    margin: 2%;
    padding: 5%;
    border-radius: 5vw;
    margin-left: 10%;
    line-height: 1.5;
    margin-bottom: 15%;
}


.second {
    width: 70vw;
    background-color: #BCC8BB;
    margin: 2%;
    padding: 5%;
    border-radius: 5vw;
    margin-left: 10%;
    line-height: 1.5;
    margin-bottom: 15%;
}

.int {
    width: 70vw;
    background-color: #BCC8BB;
    margin: 2%;
    padding: 5%;
    border-radius: 5vw;
    margin-left: 10%;
    line-height: 1.5;
    margin-bottom: 15%;
}

.last {
    width: 70vw;
    background-color: #BCC8BB;
    margin: 2%;
    padding: 5%;
    border-radius: 5vw;
    margin-left: 10%;
    line-height: 1.5;

}

/**** FOOTER ****/
footer {
    border-top: 6px solid #FFC91F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #202443;
    height: 30vw;
    width: 90vw;
    padding: 20px;
    line-height: 1.4;
    color: white;
    font-family: 'EB Garamond', serif;
}


footer a {
    color: white;
}

.flexfoot {
    display: flex;
    justify-content: space-between;
}

#footer_3 img {
    width: 50px;
    transition: all 0.5s ease;
}

#footer_3 img:hover {
    transform: scale(1.08);
    transition: 0.5s;
}


/**MEDIA QUERIES**/
@media only screen and (min-width: 1000px) {
    header {
        position: sticky;
        background-color: #ffffff;
        height: 80px;
    }

    header li a {
        padding: 0;
        font-size: 1.8rem;

    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline;
        margin-right: 55px;
        padding-bottom: 0;

    }

    #menu {

        top: 30%;
        right: 20%;


    }
}


@media only screen and (min-width: 900px) {
    /* header {
        position: sticky;
        background-color: #ffffff;
        height: 5vw;
    }

    header li a {
        padding: 0;
        margin: 0 10px;
        font-size: 1.5rem;

    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline;
        padding-left: 70px;
    }

    #menu {

        top: 30%;
        right: 20%;


    }*/

    /**SPLASH**/

    #splash {
        background-image: url(img/Artboard%20%E2%80%93%202.jpg);
        width: 100vw;
        height: 50vw;
        background-size: cover;
        margin-top: 0;
    }


    /**WEB**/

    #web {
        background-color: #EFC376;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .projekt1,
    .projekt2 {
        padding: 1%;
        margin: 0;
        display: flex;
        flex-basis: 500px;

    }

    .projects img {
        width: 60%;
        border: 5px solid black;
    }

    #web .projects {
        display: flex;
        width: 90vw;
        height: 50vw;
        justify-content: center;
        align-items: center;
        background-image: url(img/edi12.jpg);


    }

    .title {
        margin-top: 5%;
        width: 50%;
        height: 15vw;
        padding-top: 0;
    }

    .title2 {
        width: 40%;
        margin-top: 10%;

    }

    #web .skills {
        width: 90vw;
        height: 30vw;
    }



    #web .list1 {
        background-color: antiquewhite;
        width: 60vw;
        height: 20vw;
        opacity: 0.8;
        font-family: 'EB Garamond', serif;
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        line-height: 2.4;
        padding-top: 5%;
        padding-bottom: 5%;

    }

    .links {
        background-color: antiquewhite;
        width: 35vw;
        height: 20vw;
        opacity: 0.8;
        font-family: 'EB Garamond', serif;
        font-size: 1.5rem;
        text-align: center;
        line-height: 2.4;
        padding-top: 5%;
        margin-top: 5%;
        padding-bottom: 5%;

    }

    .links a {
        color: black;
        text-decoration: none;
    }

    /**ANIMATION**/

    #animation .projects {
        display: flex;
        width: 90vw;
        height: 50vw;
        justify-content: center;
        align-items: center;
        background-image: url(img/p7.jpg);
        background-size: cover;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 5%;
    }

    .list1 {
        background-color: antiquewhite;
        width: 60vw;
        height: 20vw;
        opacity: 0.8;
        font-family: 'EB Garamond', serif;
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        line-height: 2.4;
        padding-top: 5%;
        padding-bottom: 5%;

    }

    /**CONTENT**/
    #content .projects {
        display: flex;
        width: 90vw;
        height: 50vw;
        justify-content: center;
        align-items: center;
        background-image: url(img/niceespanastuff%20036.JPG);
        background-size: cover;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 5%;
    }

    #content .list1 {
        background-color: antiquewhite;
        width: 60vw;
        height: 20vw;
        opacity: 0.8;
        font-family: 'EB Garamond', serif;
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        line-height: 2.4;
        padding-top: 5%;
        padding-bottom: 5%;

    }

    /**UX**/

    #ux .projects {
        display: flex;
        width: 90vw;
        height: 50vw;
        justify-content: center;
        align-items: center;
        background-image: url(img/ux.jpg);
        background-size: cover;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 5%;
    }

    #ux .list1 {
        background-color: antiquewhite;
        width: 60vw;
        height: 20vw;
        opacity: 0.8;
        font-family: 'EB Garamond', serif;
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        line-height: 2.4;
        padding-top: 5%;
        padding-bottom: 5%;

    }

    /**CV**/

    #cv {
        font-family: 'EB Garamond', serif;
        background-color: #88AD8D;
        padding-top: 5%;
        padding-bottom: 10%;
        width: 100vw;
    }

    .who {
        font-size: 2rem;
        color: #af464b;
    }

    .et {
        display: flex;
        width: 55vw;
        height: 15vw;
        margin: 5%;
        padding: 4%;
        background-color: #6d7e6b;
        margin-left: 18%;
        border-radius: 1vw;


    }

    .des {
        padding-top: 15%;
    }

    .et img {
        width: 20vw;
        border-radius: 10vw;
    }

    .pic {
        padding-right: 10%;
        padding-bottom: 0;
        padding-left: 0;
    }

    .line1 {
        display: flex;
        width: 100vw;
        flex-basis: 600px;
        line-height: 1.5;
        justify-content: center;
    }

    .first {
        width: 25vw;
        background-color: #BCC8BB;
        margin: 2%;
        padding: 2%;
        border-radius: 1vw;
    }

    .edu {
        width: 25vw;
        background-color: #BCC8BB;
        margin: 2%;
        padding: 2%;
        border-radius: 1vw;
    }

    .line2 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        flex-basis: 600px;
        line-height: 1.5;
        justify-content: center;
    }

    .second {
        width: 25vw;
        background-color: #BCC8BB;
        margin: 2%;
        padding: 2%;
        border-radius: 1vw;
    }

    .int {
        width: 25vw;
        background-color: #BCC8BB;
        margin: 2%;
        padding: 2%;
        border-radius: 1vw;
    }

    .last {
        width: 58vw;
        background-color: #BCC8BB;
        margin: 2%;
        padding: 2%;
        border-radius: 1vw;
        margin-left: 19%;
        line-height: 1.5;

    }


    /**FOOTER**/

    footer {
        display: flex;
        flex-direction: row;
        height: 80px;
        width: 97vw;
    }


    footer img {
        padding-left: 10vw;
    }

    .flexfoot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 20%;
    }

}

/**ANIMATIONER **/

.fade {
    animation-name: fade_kf;
    animation-duration: 1.5s;
}

@keyframes fade_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes pulse_kf {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.1);
    }
}
